<input type="text" class="top" value = <%= top %>>  </input>

<!--
<H3><a href="#">KeyFrame (<%= startAt%> - <%= endAt%> )</a></H3>

<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label> Start At </label>
						<input type="text" value = <%= startAt %>>  </input>
						<label> Top </label>
						<input type="text" class="top" value = <%= startTop %>>  </input>
						<label> Lef </label>
						<input type="text" value = <%= startLeft %>>  </input>
					</div>
					<button  class="btn btn-default">Get From Canvas</button>
					<button  class="btn btn-default">Show On Canvas</button>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label> End At </label>
						<input type="text" value = <%= endAt %>>  </input>
						<label> Top </label>
						<input type="text"  class="top" value = <%= endTop %>>  </input>
						<label> Lef </label>
						<input type="text" value = <%= endLeft %>>  </input>
					</div>
					<button  class="btn btn-default">Get From Canvas</button>
					<button  class="btn btn-default">Show On Canvas</button>
				</div>
</div>
-->
