
<H3 class="header"><a href="#">Frame(<span class="frameFrom"> 1 </span> - <span class="frameTo"> 2 </span>)</a></H3>
<div>
	<div class="timeControl">
		<form class="form-inline">
			<fieldset>
			  <div class="form-group">
				  <label>Start At : </label>
				   <input type="text" class="startAt">
			  </div>
			   <div class="form-group">
				  <label>End At : </label>
				   <input type="text" class="endAt">
			  </div>
			  
			 
			</fieldset>
		</form>
	</div>
	
	<div class="propertyList">
	
	</div>
	<div class="canvasControl">
		<form class="form-inline">
			<fieldset>
			  <div class="form-group">
			  <label>&nbsp</label>
			  </div>
			  <div class="form-group">
				<input type="button" class="fromShowOnCanvas" value="Show on Canvas">
				<input type="button"  class="fromGetFromCanvas" value="Get from Canvas">
			  </div>
			  <div class="form-group">
				<input type="button" class="toShowOnCanvas" value="Show on Canvas">
				<input type="button" class="toGetFromCanvas"  value="Get from Canvas">
			  </div>
			  <div class="form-group">
				<label>&nbsp</label>
			  </div>
			</fieldset>
		</form>

	</div>

</div>